<section class="about">
    {% if include.divider == true %}
      
      {% endif %}
    <div class="wrap">
  
      <div class="">
        
        <blockquote>
            <p>"I have worked with Wai on a number of projects.  He is intuitive, efficient and a pleasure to work with. He has the ability to come up with innovative problem-solving solutions which contribute greatly to the successful outcome of our projects. I would not hesitate in recommending his services."</p>
             <img src="{{ '/images/mike-100x100.jpg' | relative_url }}" alt=""><cite>Michael Pullman &#183; Head of Digital &#183; Wild Frontiers</cite>
        </blockquote>

      </div>
    </div>
  </section>
