<section class="about">
    {% if include.divider == true %}

      {% endif %}
    <div class="wrap">

        <blockquote>
            <p>"Wai has been extremely inspirational and motivating in my transition from graphic design to UX/UI design. I would not have pursued this journey without the encouragement and expertise that he shared! We have collaborated on a few projects together and I've found Wai to be a pleasure to work with. He is generous with his knowledge sharing of design systems and best practices, whilst being open to my feedback and suggestions. Working with Wai has been an educational and positive experience and I'm grateful for his coaching and collaborative approach  - would highly recommend!"</p>
             <cite>Suyin Irena Lim &#183; Mentee</cite>
        </blockquote>

    </div>
  </section>
