<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/waiandlily.jpg' | relative_url }}" alt="Wai Law">
    </div>


    <div class="about__content">
      <h2 class="title">Hey, I'm Wai (rhymes with bay, hay, May)</h2>
      <p class="subtitle subtitle--light">UX Designer and Researcher crafting harmonious digital experiences since 2010.
      </p>
      <p>
        British born Asian (BBC), Citizen of Australia, living in Melbourne. I love <a href="https://www.youtube.com/@livingbig">tiny home videos</a>, whisky cocktails and I once <a href="https://www.cancerresearchuk.org/get-involved/find-an-event/charity-walks/shine-night-walk/shine-night-walk-london">night walked a full marathon distance</a> but I am yet to run one.
      </p>
      <p>Lets chat! Always happy to talk about UX, research, design process or how I might be able to help your organisation. I'm the one on the right 😉</p>
      <!-- Note to self: Change a href back to hash # and add classes contact-trigger js-contact if linking to overlay  -->
      <a href="https://calendly.com/designwithwai/30min" class="cta button--fill">Book a call</a>
    </div>
  </div>
  {% include component__review.html %}
</section>
