<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/waiandlily.jpg' | relative_url }}" alt="Wai Law">
    </div>


    <div class="about__content">
      <h2 class="title">Crafting harmonious digital experiences since 2010</h2>
      <p class="subtitle subtitle--light">I specialise in conversion-centred design (CCD) and design system optimisation.
      </p>
      <p>
        I'm a British Born Asian (BBC), Citizen of Australia, living in Melbourne. I love <a href="https://www.youtube.com/@livingbig">tiny home videos</a>, <a href="https://www.bbcgoodfood.com/recipes/whiskey-sour">whisky cocktails</a> and I've <a href="https://www.cancerresearchuk.org/get-involved/find-an-event/charity-walks/shine-night-walk/shine-night-walk-london">walked a marathon</a> but I'm yet to run one.
      </p>
      <p>Lets chat! I'm the one on the right 😉</p>
      <!-- Note to self: Change a href back to hash # and add classes contact-trigger js-contact if linking to overlay  -->
      <a href="https://calendly.com/designwithwai/30min" class="cta button--fill">Book a call</a>
    </div>
  </div>
  {% include component__review.html %}
</section>
