<section id="#about" class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/waiProfile1_bw.jpg' | relative_url }}" alt="Wai Law">
    </div>


    <div class="about__content">
      <h2 class="title">Crafting harmonious digital experiences since 2010</h2>
      <p class="subtitle subtitle--light">I drive results through evidence-led design
      </p>
      <p>
        I'm a British Born Asian (BBC), Citizen of Australia, living in Melbourne. I love <a href="https://www.youtube.com/@livingbig">tiny home videos</a>, <a href="https://www.bbcgoodfood.com/recipes/whiskey-sour">whisky cocktails</a> and I've <a href="https://www.cancerresearchuk.org/get-involved/find-an-event/charity-walks/shine-night-walk/shine-night-walk-london">walked a marathon</a> but I'm yet to run one.
      </p>
      <!-- Note to self: Change a href back to hash # and add classes contact-trigger js-contact if linking to overlay  -->
      <a title="Hire me for a contract or gig" href="https://topmate.io/wailaw/1161641" class="cta button--fill">Free Discovery Call</a>
    </div>
  </div>
  {% include component__review.html %}
</section>
